body {
    margin: 30px;
}

h1 {
    background-color: rgb(230, 43, 43);
    color: black;
    text-align: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }
h2.titulo {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: red;
}
img.links {width: 200px;}
img.carrossel {width: 1500px;
  border-style: dotted;
  border-color: rgb(255, 17, 0);
}
div.button {
  color: black;
}