body {
    margin: 30px;
}

h1 {
    background-color: rgb(230, 43, 43);
    color: black;
    text-align: center;
  }
  
  h1 {
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }
  div {
    border-style: dotted;
    border-color: rgb(255, 17, 0);
  }
h2 {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: red;
}